<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' dettagli'"
      [routerLink]="['products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">desc: {{ product.description }}</p>
  <button type="button" (click)="share()">Share</button>
  <app-product-alerts
    [product]="product"
    (notify_obj)="onNotify()"
  ></app-product-alerts>
</div>
<br><br>
BE HTTP CALL TEST<br>
<button type="button" (click)="myHttpCall()">testBEcall</button>
<div *ngFor="let element of beResults">{{element.id}} - {{element.name}}</div>
